header {
  background-color: #3359D4;
  color: white;
  text-align: center;
}

main {
  background-color: lightgrey;
}

body {
  background-image: url(/Users/johnnykeple/prime/tier1/prime-pw-week-5-assignment-part-2/assignment/record.png);
  background-repeat: repeat;
}
