.top {
  background-color: #3359D4;
  color: white;
  text-align: center;
}

.bottom {
  background-color: lightgrey;
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;
}
